* {
    font-family: sans-serif;
}


.nav {
    display: flex;
    flex-direction: row;
}


.nav__div {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav__text {
    padding-left: 2.5em;
}


.nav__logo {
    max-width: 80px;
    padding-left: 3em;
}


.section1 {
    background-image: url("../images/she_newnow_1710.jpg");
    background-size: cover;
    
    
    display: flex;
    justify-content: center;
}

.section1__container--urban  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section1__urban {
    color: white;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    font-size: 4em;
}

.section1__button {
    width: 10em;
    margin-bottom: 5em;
    padding: 1em;
    border: none;
}

.section2 {
    background-color: rgb(243, 187, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
   
}

.section2__img {
    width: 40em;
}

.section2__text {
    color: rgb(212, 90, 149);
    padding-top: 1em;
}

.section2__button {
    width: 10em;
    margin-bottom: 5em;
    padding: 1em;
    border: none;
    margin-top: 2em;

}

.section3 {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
}

.section3__A {
    background-image: url(../images/she_landing_block_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section3__B {
    background-image: url(../images/she_landing_lesther_1710.jpg);
    width: 33%;
    height: 100vh;
    background-size: cover;
}

.section3__C {
    background-image: url(../images/she_landing_keytrends_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section3__1--div {
    display: flex;
    flex-direction: column;
    padding-top: 30em;


}




.section4 {
    display: flex;
    flex-direction: row;
}

.section4__A{
    background-image: url(../images/she_landing_fiesta_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section4__B {
    background-image: url(../images/she_landing_exonline_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section4__C {
    background-image: url(../images/she_landing_oficina_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section5 {
    display: flex;
    flex-direction: row;
}

.section5__A {
    background-image: url(../images/she_landing_vestidos_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section5__B {
    background-image: url(../images/she_landing_abrigos_1710.jpg);
    width: 33%;
    background-size: cover;
}

.section5__C {
    background-image: url(../images/she_landing_calzados_1710.jpg);
    width: 33%;
    background-size: cover;
}




.section8 {
    display: flex;
    flex-direction: row;
}

.section9__div--images {
    display: flex;
    flex-direction: row;
    

}

.section10__div {
    display: flex;
}